@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .container {
    padding: 20px;
  }

  .projects-container, .blog-container {
    flex-direction: column;
    align-items: center;
  }

  .project, .blog-container {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .experience-container, .blog-container {
    padding: 1rem;
  }

  .job h3, .blog-container h3 {
    font-size: 1.5rem;
  }

  .job p, .blog-container p, .blog-container li {
    font-size: 1rem;
  }

  .job ul, .blog-container ul {
    margin-left: 1rem;
  }
}

